@font-face {
    font-family: norse;
    src: url(../fonts/norse-bold.woff2);
}

* {
    font-size: 21px;
    font-family: Arial, Helvetica, sans-serif;
}

/* ASIDE */

body {
    margin: 0;
    display: flex;
    height: 100vh;
}

aside {
    width: 58%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background: url(../images/cliff-face.jpg);
    background-size: cover;
}

aside > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 40%;
    background-color: rgba(0, 0, 0, 0.247);
    padding: 1rem;
}

img {
    width: 4rem;
}

h1 {
    font-size: 4rem;
    color: #fff;
    font-family: norse;
    margin: 0;
}

aside > p {
    position: absolute;
    bottom: 10px;
    font-size: 0.5rem;
    color: #fff;
}

p > a {
    color: white;
    font-size: 0.5rem;
}

/* MAIN */
/* TOP */

main {
    width: 100%;
    background-color: #fafafa;
}

.para {
    padding: 5rem 4rem 1rem 2rem;
    font-size: .9rem;
    font-weight: 600;
}

/* FORM */

section {
    background-color: #fff;
    box-shadow: 0 1px 3px rgb(185, 185, 185);
    padding: .5rem 7rem 1rem 2rem;
    color: #444;
}
h2 {
    margin: 0;
    font-size: 1rem;
    padding-bottom: .5rem;
}

.grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
}

.form-item {
    display: flex;
    flex-direction: column;
}

label {
    font-size: .5rem;
    font-weight: 600;
}

input {
    border: 1px solid #E5E7EB;
    font-size: .7rem;
    padding: .23rem;
    width: 10rem;
    border-radius: 3px;
}

input[type="email"]:invalid {
    border-color: red;
}

input:focus {
    outline: none;
    border-color: blue;
    box-shadow: 1px 1px 3px black;
}


.password-warning {
    color: red;
    margin: 0;
    font-size: .5rem;
    visibility: hidden;
}

/* BOTTOM */

button {
    padding: .7em 1.9rem;
    border-radius: 5px;
    margin: 1.5rem 2rem 1rem 2rem;
    border: none;
    color: white;
    background-color: #757575;
    font-size: .7rem;
    font-weight: 700;
}

button:hover {
    cursor: pointer;
    background-color: #222;
}

.sign-in {
    display: flex;
    align-items: center;
    gap: .1em;
}

.sign-in > p {
    margin: 0;
    padding-left: 2rem;
    font-size: .7rem;
}

.sign-in > a{
    color: red;
    text-decoration: none;
    font-size: .7rem;
}